{
    "env": {
        "production": {
            "plugins": [
                [
                    "babel-plugin-jsx-remove-data-test-id",
                    {
                        "attributes": ["data-test-id", "data-testid", "data-cy"]
                    }
                ]
            ]
        }
    },
    "presets": ["next/babel"],
    "plugins": ["istanbul"]
}
